/*Font-Space Start*/
/*Normal -Font*/
/*Xolonium is an OpenType Font by Severin Meyer*/
/*##########################################
Colors Used For This CSS File
https://botsin.space/@randomColorContrasts/105035682012448434
#ecf82e (236, 248, 35) or Golden Fizz
#7f5f54 (127, 95, 84) or Roman Coffee
#b0b0b0 or (176 176 176) or Light_Gray
###########################################*/
*{user-select: none; font-family: 'Xolonium', sans-serif; font-size: 2vw;}
@font-face
{
	font-family: 'Xolonium';
	src: url('Xolonium-Regular.otf');
	text-rendering: optimizeLegibility;
}
@font-face
{
	font-family: 'Twitter Color Emoji';
	src: url('ColorEmoji10.ttf');
	text-rendering: optimizeLegibility;
}
html, rss
/*Font-Space End*/
{ 
  background: radial-gradient(at top left, #ecf82e, #7f5f54);  
  background-size: auto;
}
.titleLine
{
	background-color: black;
	color: white;
	text-align: center;
	font-weight: bold;
}
.splash, .splash h1, banner
{
	background: linear-gradient(to right, #7f5f54, #b0b0b0);
	background-size: 100%;
	padding-bottom: 10px;
	text-shadow: 1px 1px #b0b0b0;
	color: #ecf82e;
	text-align: center;
	font-weight: bold;
}
.storyBorder, .txtCtrPanel
{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: #ecf82e;
	color: black;
	display: block;
}
.chatWindow
{
	float: left;
	width: 50%;
	border: 2px solid white;
	background-color: #b0b0b0;
	font-size: 2.2vw;
}
item
{
	float: left;
	width: 70%;
	border: 2px solid white;
	background-color: #7f5f54;
	font-size: 2.2vw;
}
generator, guid , description, pubDate {display: none;}
.emphasis, link
{
	font-family: 'Xolonium', sans-serif;
	font-weight: bold;
	text-align: center;
	background-color:  #b0b0b0;
	color: white;
	border: 0.2vw solid white;
	text-shadow: 0.1vw 0.1vw black;
}
.banner
{
	font-size: 2.2vw;
	width: 100%;
}
.txtPanel
{
	font-weight: bold;
	background-color: #b0b0b0;
	color: white;
	opacity: 0.92;
	border: 0.2vw solid #7f5f54;
	white-space: pre; /*This allows line breaks to occur, but not in between the element itself.*/
}
.txtPanel a {text-shadow: 1px 1px #b0b0b0; }
.inline span
{
	color: black;
	font-family: sans-serif;
}
#mobile{display: none;}
#desktop
{
	display: block;
	background-color: #ecf82e;
}
#desktop span
{	border: 1px solid black;}
.wholeWide
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.menu .menu-item.has-children, .menu .menu-item.has-children .menu-item 
{
	font-family: sans-serif;
	position: relative;
}
.icon-bar a
{
	display: inline;
	text-align: center;
	background-color: #b0b0b0;
	border: 1px solid white;
}
.dropChar 
{
	font-family: 'Xolonium', sans-serif;
    font-size: 2vw;
	display: inline-block; 
	width: 3vw; 
	height: 3vw;
	padding: 0.2vw 0 0 0.2vw; 
	color: white;
	background-color: #7f5f54;
	border: 0.2vw solid white;
	text-align: center;
	text-shadow: 1px 1px #b0b0b0;
	}
img.center
{
	object-fit: fill;
	height: auto;
	width: 100%;
}
ul, ol
{
	background-color: #7f5f54;
	color: white;
}
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut, pubDate
{
	border-radius: 20px 30px 30px 0px;
	background-color: #7f5f54;
	color: #ecf82e;
	border: 3px solid white;
	float: left;
	text-shadow: 1px 1px #b0b0b0;
}
.blurbIn, title
{
border-radius: 20px 30px 0px 16px;
	background-color: #ecf82e;
	color: #7f5f54;
	border: 3px solid white;
	float: right;
}
.topic
{
	background-color: black;
	color: #ecf82e;
	font-size: 1.3em;
	display: table;
}
.center
{
	display: block;
	text-align: center;
}
.current
{
	color: #ecf82e;
	font-style: italic;
}
.picWidget img
{
	 box-sizing: border-box;
	 opacity: 0.9;
	 width: 100%;
}
.row {  display: flex;}
/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
#dtpWidget img
{
	 width: 60%;
    height: 100%;
    display: block;
	float: right;
}
td
{
	word-wrap: normal;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: black;
	padding: 5px;
	font-size: 1.1em;
}
.leftHeading{display: none;}
.returnTag, title {	font-family: sans-serif, Twitter Color Emoji;}
/*Submenu data for Desktop*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a {  color: white; }
.nav .sub-menu {
  background-color: #b0b0b0;
  list-style: none;
}
.nav .sub-menu .menu-item a:hover, .nav .sub-menu .menu-item a:active, .nav .sub-menu .menu-item a:focus {
  background-color:  black;
  color: white;
}
a /*What most links will look like*/
{
	text-decoration: none;
	color: white;
}
a:visited /*What most links will look like*/ {color: #ecf82e;}
.paragraph, p  /*Paragraph formatting*/
{
	font-family: sans-serif;
}
/* Sidebar Position Data For Both Desktop and Mobile */
.icon-bar
{
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 3;
}
.icon-bar a:hover, .txtPanel a:hover 
{
  background-color: black;
  color: #ecf82e;
}
#active
{
	background-color: black;
	color: white;
}
/*This section of the CSS file caters to mobile and QHD displays (768p or lower)*/
@media screen and (max-width:1024px)  
{
*{font-family: 'Xolonium', serif; font-size: 1em;}
.splash, .splash h1
{ 
	background: linear-gradient(to right, #b0b0b0, #ecf82e); 
	color: #7f5f54;
}
.storyBorder, .txtCtrPanel {background-color: #7f5f54; color: white;}/*mobile rendering*/
.chatWindow {font-size: 1.2em;}
.txtPanel {	 border: 0.3vw solid #ecf82e; }
.inline span
{
	color: white;
	font-family: serif;
}
.dropChar 
{
	font-family: 'Xolonium', serif;
    font-size: 1em;
	width: 1.3em; 
	height: 1.3em;
	color: black;
	background-color: #ecf82e;
	}
ul, ol
{
	background-color: #ecf82e;
	color: black;
}
.menu .menu-item.has-children {font-family: serif; }
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut
{
	background-color: #ecf82e;
	color: #7f5f54;
}
.blurbIn
{
	background-color: #7f5f54;
	color: #ecf82e;
}
.topic {color: #7f5f54;}
.current {color: white; }
#mobile
{
	display: block;
	background-color: #7f5f54;
}
#mobile span {	border: 1px solid white;}
#desktop {	display: none;}
td
{
	color: white;
	padding: 2px;
}
.returnTag {	font-family: serif, Twitter Color Emoji;}
/*Submenu data for Mobile*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a { color: black;}
.nav .sub-menu {
  background-color: #b0b0b0;
  list-style: none;
}
a:visited /*What most links will look like*/ {color: #7f5f54;}
.paragraph, p /*Paragraph formatting*/{font-family: serif;}
}
@media print
{
	.storyBorder
	{	width: 98%;}
	.no-print, .no-print *
	{	display: none !important;	}
	.dropChar
	{
		border: 1px solid black;
		color: black;
	}
}
