/*Font-Space Start*/
/*Normal -Font*/
/*Orbitron is an OpenType Font*/
/*##########################################
Colors Used For This Site
https://botsin.space/@accessibleColors/103808139873655431
#e5d8ae (229 216 174) or Hampton
#29309b (41 48 155) or Torea Bay
#b0b0b0 or 117-117-117 or Dark Gray
#b0b0b0 or 176-176-176 or Light Gray
###########################################*/
*{user-select: none; font-family: Orbitron, sans-serif;}
@font-face
{
font-family: 'Orbitron';
src: url('fonts/Orbitron-Regular.ttf');
text-rendering: optimizeLegibility;
}
@font-face
{
	font-family: 'Emoji One';
	src: url('fonts/emojione-svg.woff');
	text-rendering: optimizeLegibility;
}
/*Font-Space End*/
html 
{ 
  background: url(img/pier6-kingscounty.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.titleLine
{
	font-family: 'Orbitron', sans-serif;
	background-color: #b0b0b0;
	color: black;
	font-size: 2vw;
	text-align: center;
	font-weight: bold;
}
.splash
{
	font-family: 'Orbitron', sans-serif;
	background: linear-gradient(to bottom, #757575, #29309b);
	background-size: 100%;
	padding-bottom: 10px;
	text-shadow: 1px 1px #b0b0b0;
	color: #e5d8ae;
	font-size: 2vw;
	text-align: center;
	font-weight: bold;
}
.storyBorder
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #e5d8ae;
	color: black;
}
.chatWindow
{
	float: left;
	width: 50%;
	margin: 2vw;
	border: 2px solid white;
	background-color: #b0b0b0;
}
.emphasis
{
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	text-align: center;
	background-color:  #29309b;
	color: white;
	border: 3px solid black;
	text-shadow: 1px 1px #b0b0b0;
}
.banner
{
	font-size: 1.3vw;
	width: 100%;
}
.txtPanel
{
	font-size: 2.2vw;
	opacity: 0.9;
	font-weight: bold;
	text-align: left;
	background-color:  #b0b0b0;
	color: black;
	border: 3px solid #29309b;
}
.txtPanel span,a {	text-shadow: 1px 1px #757575;}
.txtCtrPanel
{
	background-color: #b0b0b0;
	opacity: 0.9;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	border: 3px solid #29309b;
}
.inline span
{
	color: black;
	font-family: 'sans-serif';
}
#rightside
{ 	
float: right;
width: 45%;
}
#typeSide
{ 	
float: left;
text-align: left;
}
#leftside
{
	float: left;
	width: 40%;
}
#desktop  {display: none;}
#mobile
{
	display: block;
	background-color: #e5d8ae;
}
#mobile span {border: 1px solid black;}
.wholeWide
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.eastOfNav
{	padding-left: 16vw; }
.menu .menu-item.has-children, .menu .menu-item.has-children .menu-item {
	font-size: 1.5vw;
	font-family: sans-serif;
	position: relative;
}
.txtFrame
{
	border: 1px solid #e5d8ae;
	font-size: 2vw;
	background-color: #b0b0b0;
	margin: 5px;
	white-space: nowrap;
}
.txtFrame span{display: table;}
.txtFrame a {	color: #29309b;}
.txtFrame a:hover {	color: #e5d8ae;}
.dropChar 
{
	font-family: 'Orbitron', sans-serif;
	display: inline-block; 
	width: 3vw; 
	height: 3vw; 
	margin: 0 10px 0 10px; 
	color: white;
	background-color: #29309b;
	border: 2px solid white;
	text-align: center;
	text-shadow: 1px 1px #b0b0b0;
	}
iframe,img.center
{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ul, ol
{
	background-color: #29309b;
	color: white;
}
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut
{
	border-radius: 20px 30px 30px 0px;
	background-color: #29309b;
	color: #e5d8ae;
	border: 3px solid white;
	float: left;
	text-shadow: 1px 1px #b0b0b0;
}
.blurbIn
{
border-radius: 20px 30px 0px 16px;
	background-color: #e5d8ae;
	color: #29309b;
	border: 3px solid black;
	float: right;
}
.topic
{
	background-color: #b0b0b0;
	color: #e5d8ae;
	font-size: 1.3em;
	display: table;
}
.center
{
	display: block;
	text-align: center;
}
.current
{
	color: #e5d8ae;
	font-style: italic;
}
.picWidget img
{
	 box-sizing: border-box;
	 opacity: 0.9;
	 width: 100%;
}
#picWidget img
{
	 box-sizing: border-box;
	 opacity: 0.9;
	 width: 100%;
}
.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
#dtpWidget img
{
	 width: 60%;
    height: 100%;
    display: block;
	float: right;
}
td
{
	word-wrap: normal;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	color: black;
	padding: 5px;
	font-size: 1.1em;
}
.leftHeading{	display: none;}
.returnTag
{
	font-family: 'Emoji One';
}
/*Submenu data for Desktop*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a {  color: white;}
.nav .sub-menu {
  background-color: #e5d8ae;
  list-style: none;
}
.nav .sub-menu .menu-item a:hover, .nav .sub-menu .menu-item a:active, .nav .sub-menu .menu-item a:focus {
  background-color:  #29309b;
  color: white;
}
a /*What most links will look like*/
{
	text-decoration: none;
	color: #29309b;
	border: 1 px solid #e5d8ae;
}
p /*Paragraph formatting*/
{
	font-family: sans-serif;
	font-size: 2vw; 
	color: black;
}
/*This section of the CSS file caters to mobile and QHD displays (768p or lower)*/
@media screen and (max-width: 1024px)  
{
	*{font-family: Orbitron, serif;}
.titleLine {font-family: 'Orbitron', serif;}
.splash 
{	
	font-family: 'Orbitron', serif;
	background: linear-gradient(to bottom, #757575, #e5d8ae);
	color: #29309b;
	font-size: 2.4vw;
	}
.storyBorder{	background-color: #29309b;}
.emphasis
{
	font-family: 'Orbitron', serif;
	background-color:  #e5d8ae;
	color: black;
}
.txtPanel
{
	border: 3px solid #e5d8ae;
}
.txtCtrPanel
{
	font-size: 2.4vw;
	border: 3px solid #e5d8ae;
}
.inline span
{
	color: black;
	font-family: 'serif';
}
.dropChar 
{
	font-family: 'Orbitron', serif;
	color: black;
	background-color: #e5d8ae;
	border: 2px solid black;
	}
ul, ol
{
	background-color: #e5d8ae;
	color: black;
}
.menu .menu-item.has-children
{
	font-size: 2vw;
	font-family: serif;
}
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut
{
	background-color: #e5d8ae;
	color: #29309b;
	border: 3px solid black;
}
.blurbIn
{
	background-color: #29309b;
	color: #e5d8ae;
	border: 3px solid white;
}
.topic{color: #29309b;}
.current{color: #29309b;}
#rightside
{ 	
float: right;
width: 35%;
}
#leftside
{
	float: left;
	width: 40%;
}
#desktop
{
	display: block;
	background-color: #29309b;
}
#desktop span
{border: 1px solid white;}
#mobile	{display: none;}
#dtpWidget img
{
	 width: 60%;
    height: 100%;
    display: block;
	float: right;
}
td
{
	color: white;
	padding: 2px;
}
.returnTag
{
	font-family: 'Emoji One';
}
/*Submenu data for Mobile*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a { color: black;}
.nav .sub-menu {
  background-color: #29309b;
  list-style: none;
}
.nav .sub-menu .menu-item a:hover, .nav .sub-menu .menu-item a:active, .nav .sub-menu .menu-item a:focus {
  background-color:  #e5d8ae;
  color: black;
}
a /*What most links will look like*/
{
	color: #e5d8ae;
	border: 1 px solid #29309b;
}
p /*Paragraph formatting*/{font-family: serif; font-size: 2.4vw; color: white;}
}
@media print
{
	.storyBorder
	{
		width: 98%;
	}
	.no-print, .no-print *
	{
		display: none !important;
	}
	.dropChar
	{
		border: 1px solid black;
		color: black;
	}
}
/* Sidebar Position Data For Both Desktop and Mobile */
.icon-bar
{
  opacity: 0.8;
  position: fixed;
  top: 60%;
  left: 1%;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}
.icon-bar a
{
	display: block;
	text-align: center;
	margin-left: 0.5vw;
	font-size: 2vw;
	padding: 1em;
	border: 2px solid black;
}
.icon-bar a:hover 
{
  background-color: white;
  color: black;
}
#active
{
	background-color: #b0b0b0;
	color: black;
}
/*Two styles are used based on the site color map.*/
.style1
{
  background-color: #29309b;
  color: white;
}
.style2
{
  background-color: #e5d8ae;
  color: black;
}