/*Font-Space Start*/
/*Normal -Font*/
/*Xolonium is an OpenType Font by Severin Meyer*/
/*##########################################
Colors Used For This Site
https://botsin.space/@accessibleColors/103808139873655431
#e5d8ae (229 216 174) or Hampton
#29309b (41 48 155) or Torea Bay
#b0b0b0 or (176 176 176) or Light_Gray
###########################################*/
*{user-select: none; font-family: 'Xolonium', sans-serif;}
@font-face
{
font-family: 'Xolonium';
src: url('Xolonium-Regular.otf');
text-rendering: optimizeLegibility;
}
@font-face
{
	font-family: 'Twitter Color Emoji';
	src: url('ColorEmoji10.ttf');
	text-rendering: optimizeLegibility;
}
/*Font-Space End*/
html, rss
{ 
/*Image by Robert Horvik*/
  background: url(robert-horvick-1R4uPYipCFM-unsplash-2.jpg) repeat; 
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
}
.titleLine
{
	font-family: 'Xolonium', sans-serif;
	background-color: #b0b0b0;
	color: black;
	font-size: 2.4vw;
	text-align: center;
	font-weight: bold;
}
.splash, .splash h1, .splash a, banner
{
	font-family: 'Xolonium', sans-serif;
	background: linear-gradient(to right, #b0b0b0, #29309b);
	background-size: 100%;
	padding-bottom: 10px;
	text-shadow: 1px 1px #b0b0b0;
	color: #e5d8ae;
	font-size: 2.4vw;
	text-align: center;
	font-weight: bold;
}
.storyBorder, .txtCtrPanel
{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: #e5d8ae;
	color: black;
}
.chatWindow
{
	float: left;
	width: 50%;
	border: 2px solid white;
	background-color: #b0b0b0;
	font-size: 2.2vw;
}
item
{
	float: left;
	width: 70%;
	border: 2px solid white;
	background-color: #29309b;
	font-size: 2.2vw;
}
generator, guid , description, pubDate {display: none;}
.emphasis, link
{
	font-family: 'Xolonium', sans-serif;
	font-weight: bold;
	text-align: center;
	background-color:  #b0b0b0;
	color: white;
	border: 0.2vw solid black;
	text-shadow: 0.1vw 0.1vw black;
}
.banner
{
	font-size: 2vw;
	width: 100%;
}
.txtPanel
{
	font-size: 2vw;
	opacity: 0.92;
	font-weight: bold;
	text-align: left;
	background-color:  #b0b0b0;
	color: black;
	border: 0.2vw solid #29309b;
}
.txtPanel span,a {	text-shadow: 1px 1px #757575;}
.inline span
{
	color: black;
	font-family: 'sans-serif';
}
#rightside
{ 	
float: right;
width: 45%;
}
#leftside
{
	float: left;
	width: 40%;
}
#mobile  {display: none;}
#desktop
{
	display: block;
	background-color: #e5d8ae;
}
#desktop span {border: 1px solid black;}
.wholeWide
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.menu .menu-item.has-children, .menu .menu-item.has-children .menu-item {
	font-family: sans-serif;
	position: relative;
}
.icon-bar a
{
	display: inline;
	text-align: center;
	font-size: 2.0vw;
	border: 1.5px solid black;
}
.txtFrame
{
	border: 1px solid #e5d8ae;
	font-size: 2vw;
	background-color: #b0b0b0;
	margin: 5px;
	white-space: nowrap;
}
.txtFrame, .txtPanel span { display: table; font-size: 1.2em;}
.txtFrame, .txtPanel a {color: #29309b;}
.txtFrame, .txtPanel a:hover {	color: #e5d8ae;}
.dropChar 
{
	font-family: 'Xolonium', sans-serif;
    font-size: 2vw;
	display: inline-block; 
	width: 3vw; 
	height: 3vw; 
	padding: 0.2vw 0 0 0.2vw; 
	color: white;
	background-color: #29309b;
	border: 0.2vw solid white;
	text-align: center;
	text-shadow: 1px 1px #b0b0b0;
	}
iframe,img.center
{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ul, ol
{
	background-color: #29309b;
	color: white;
}
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut, pubDate
{
	border-radius: 20px 30px 30px 0px;
	background-color: #29309b;
	color: #e5d8ae;
	border: 3px solid white;
	float: left;
	text-shadow: 1px 1px #b0b0b0;
}
.blurbIn, title
{
border-radius: 20px 30px 0px 16px;
	background-color: #e5d8ae;
	color: #29309b;
	border: 3px solid black;
	float: right;
}
.topic
{
	background-color: #b0b0b0;
	color: #e5d8ae;
	font-size: 1.3em;
	display: table;
}
.center
{
	display: block;
	text-align: center;
}
.current
{
	color: #e5d8ae;
	font-style: italic;
}
.picWidget img
{
	 box-sizing: border-box;
	 opacity: 0.9;
	 width: 100%;
}
#picWidget img
{
	 box-sizing: border-box;
	 opacity: 0.9;
	 width: 100%;
}
.row {  display: flex;}
/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
#dtpWidget img
{
	 width: 60%;
    height: 100%;
    display: block;
	float: right;
}
td
{
	word-wrap: normal;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	color: black;
	padding: 5px;
	font-size: 1.1em;
}
.leftHeading{	display: none;}
.returnTag, title {	font-family: sans-serif, Twitter Color Emoji;}
/*Submenu data for Desktop*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a {  color: white;}
.nav .sub-menu {
  background-color: #b0b0b0;
  list-style: none;
}
.nav .sub-menu .menu-item a:hover, .nav .sub-menu .menu-item a:active, .nav .sub-menu .menu-item a:focus {
  background-color:  white;
  color: black;
}
a /*What most links will look like*/
{
	text-decoration: none;
	color: #29309b;
	border: 1 px solid #e5d8ae;
}
a:visited /*What visited links will look like*/{	color: #e5d8ae;}
.paragraph, p /*Paragraph formatting*/
{
	font-family: sans-serif;
	font-size: 2vw; 
	color: black;
}
/*This section of the CSS file caters to mobile and QHD displays (768p or lower)*/
@media screen and (max-width: 1024px)  
{
	*{font-family: 'Xolonium', serif;}
.titleLine {font-family: 'Xolonium', serif; font-size: 1em;}
.splash, .splash h1, .splash a
{	
	font-family: 'Xolonium', serif;
	font-size: 1.3em;
	background: linear-gradient(to right, #b0b0b0, #e5d8ae);
	color: #29309b;
	}
.storyBorder, .txtCtrPanel { background-color: #29309b; color: white;}
.chatWindow {font-size: 1.4em;}
.banner {font-size: 2.8vw;}
.txtPanel
{
	border: 0.3vw solid #e5d8ae;
	font-size: 1.1em;
}
.inline span
{
	color: black;
	font-family: 'serif';
}
.txtFrame {font-size: 1em;}
.icon-bar a {font-size: 1.3em;}
.dropChar 
{
	font-family: 'Xolonium', serif;
    font-size: 1em;
	width: 1.3em; 
	height: 1.3em;
	color: black;
	background-color: #e5d8ae;
	border: 0.2vw solid black;
	}
ul, ol
{
	background-color: #e5d8ae;
	color: black;
}
.menu .menu-item.has-children
{
	font-size: 1.2em;
	font-family: serif;
}
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut
{
	background-color: #e5d8ae;
	color: #29309b;
	border: 3px solid black;
}
.blurbIn
{
	background-color: #29309b;
	color: #e5d8ae;
	border: 3px solid white;
}
.topic{color: #29309b;}
.current{color: #29309b;}
#mobile
{
	display: block;
	background-color: #29309b;
}
#mobile span {	border: 1px solid white;}
#desktop {display: none;}
td
{
	color: white;
	padding: 2px;
}
.returnTag {	font-family: serif, Twitter Color Emoji;}
/*Submenu data for Mobile*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a { color: black;}
.nav .sub-menu {
  background-color: #b0b0b0;
  list-style: none;
}
.nav .sub-menu .menu-item a:hover, .nav .sub-menu .menu-item a:active, .nav .sub-menu .menu-item a:focus {
  background-color: white;
  color: black;
}
a /*What most links will look like*/
{
	color: #e5d8ae;
	border: 1 px solid #29309b;
}
/*What visited links will look like*/
a:visited {color: #29309b;}
.paragraph, p /*Paragraph formatting*/{font-family: serif; font-size: 1em; color: white;}
}
@media print
{
	.storyBorder {	width: 98%;	}
	.no-print, .no-print *	{	display: none !important;	}
	.dropChar
	{
		border: 1px solid black;
		color: black;
	}
}
/* Sidebar Position Data For Both Desktop and Mobile */
.icon-bar
{
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 3;
}
.icon-bar a
{
	display: inline;
	text-align: center;
	margin-left: 0.5vw;
	border: 1.5px solid black;
}
.icon-bar, .txtPanel a:hover 
{
  background-color: white;
  color: black;
}
.icon-bar a {background-color: #b0b0b0;}
#active
{
	background-color: white;
	color: black;
}
