/*Font-Space Start*/
/*Normal -Font*/
/*Xolonium is an OpenType Font by Severin Meyer*/
/*##########################################
Colors Used For This CSS File
https://botsin.space/@accessibleColors/103833621005988313
#ce7502 (206 117 2) or Meteor
#19103b (25 16 59) or Haiti
#757575 (117 117 117) or Dark_Gray
###########################################*/
*{user-select: none; font-family: 'Xolonium', sans-serif; font-size: 2vw;}
@font-face
{
	font-family: 'Xolonium';
	src: url('Xolonium-Regular.otf');
	text-rendering: optimizeLegibility;
}
@font-face
{
	font-family: 'Segoe UI Emoji';
	src: url('seguiemj.ttf');
	text-rendering: optimizeLegibility;
}
html, rss, urlset
/*Font-Space End*/
{ 
  /*Next-level tip from https://vincoding.com/css-transparent-gradient-overlay-image/*/
  /*background: url("brick-wall-pluspng-159660-nega.png"), radial-gradient(at top left, rgba(206,117,2,1),rgba(25,16,59,0.5)); */
/*Wavy preset from https://www.magicpattern.design/tools/css-backgrounds*/
  background-size: 100%;
background-color: #757575;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ce7502 10px ), repeating-linear-gradient( #19103b55, #ce7502 );
}
.titleLine
{
	background-color: black;
	color: white;
	text-align: center;
	font-weight: bold;
}
.splash, .splash h1, banner
{
	background: linear-gradient(to right, rgba(25, 16, 59, 1), #757575);
	background-size: 100%;
	padding-bottom: 10px;
	text-shadow: 1px 1px #757575;
	color: #ce7502;
	text-align: center;
	font-weight: bold;
}
.storyBorder, .txtCtrPanel
{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: #ce7502;
	color: black;
	display: block;
}
.chatWindow
{
	float: left;
	width: 50%;
	border: 2px solid white;
	background-color: #757575;
	font-size: 2.2vw;
}
item
{
	float: left;
	width: 70%;
	border: 2px solid white;
	background-color: rgba(25, 16, 59, 1);
	font-size: 2.2vw;
}
generator, guid , description, pubDate, changefreq {display: none;}
.emphasis, link, lastmod
{
	font-family: 'Xolonium', sans-serif;
	font-weight: bold;
	text-align: center;
	background-color:  #757575;
	color: white;
	border: 0.2vw solid white;
	text-shadow: 0.1vw 0.1vw black;
}
.banner
{
	font-size: 2.2vw;
	width: 100%;
}
.txtPanel
{
	font-weight: bold;
	background-color: #757575;
	color: white;
	opacity: 0.92;
	border: 0.2vw solid #19103b;
	white-space: pre; /*This allows line breaks to occur, but not in between the element itself.*/
}
.txtPanel a {text-shadow: 1px 1px #b0b0b0; }
.inline span
{
	color: black;
	font-family: sans-serif;
}
#mobile{display: none;}
#desktop
{
	display: block;
	background-color: #ce7502;
}
#desktop span
{	border: 1px solid black;}
.wholeWide
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.menu .menu-item.has-children, .menu .menu-item.has-children .menu-item 
{
	font-family: sans-serif;
	position: relative;
}
.icon-bar a
{
	display: inline;
	text-align: center;
	background-color: #757575;
	border: 1px solid white;
}
.dropChar 
{
	font-family: 'Xolonium', sans-serif;
    font-size: 2vw;
	display: inline-block; 
	width: 3vw; 
	height: 3vw;
	padding: 0.2vw 0 0 0.2vw; 
	color: white;
	background-color: rgba(25, 16, 59, 1);
	border: 0.2vw solid white;
	text-align: center;
	text-shadow: 1px 1px #757575;
	}
img.center
{
	object-fit: fill;
	height: auto;
	width: 100%;
}
ul, ol
{
	background-color: rgba(25, 16, 59, 1);
	color: white;
}
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut, pubDate, url
{
	border-radius: 20px 30px 30px 0px;
	background-color: rgba(25, 16, 59, 1);
	color: #ce7502;
	border: 3px solid white;
	float: left;
	text-shadow: 1px 1px #757575;
}
.blurbIn, title, priority
{
border-radius: 20px 30px 0px 16px;
	background-color: #ce7502;
	color: rgba(25, 16, 59, 1);
	border: 3px solid white;
	float: right;
}
.topic
{
	background-color: black;
	color: #ce7502;
	font-size: 1.3em;
	display: table;
}
.center
{
	display: block;
	text-align: center;
}
.current
{
	color: #ce7502;
	font-style: italic;
}
.picWidget img
{
	 box-sizing: border-box;
	 opacity: 0.9;
	 width: 100%;
}
.row {  display: flex;}
/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
#dtpWidget img
{
	 width: 60%;
    height: 100%;
    display: block;
	float: right;
}
td
{
	word-wrap: normal;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: black;
	padding: 5px;
	font-size: 1.1em;
}
.leftHeading{display: none;}
.returnTag, title {	font-family: sans-serif, 'Segoe UI Emoji';}
.emblem {	font-family: 'Segoe UI Emoji'; font-size: 3em; }
/*Submenu data for Desktop*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a {  color: white; }
.nav .sub-menu {
  background-color: #757575;
  list-style: none;
}
.nav .sub-menu .menu-item a:hover, .nav .sub-menu .menu-item a:active, .nav .sub-menu .menu-item a:focus {
  background-color:  black;
  color: white;
}
a /*What most links will look like*/
{
	text-decoration: none;
	color: white;
}
a:visited /*What most links will look like*/ {color: #19103b;}
.paragraph, p  /*Paragraph formatting*/
{
	font-family: sans-serif;
}
/* Sidebar Position Data For Both Desktop and Mobile */
.icon-bar
{
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 3;
}
.icon-bar a:hover, .txtPanel a:hover 
{
  background-color: black;
  color: #ce7502;
}
#active
{
	background-color: black;
	color: white;
}
/*This section of the CSS file caters to mobile and QHD displays (768p or lower)*/
@media screen and (max-width:1024px)  
{
*{font-family: 'Xolonium', serif; font-size: 1em;}
html, rss, urlset
/*Font-Space End*/
{ 
  /*Next-level tip from https://vincoding.com/css-transparent-gradient-overlay-image/*/
  /*background: url("brick-wall-pluspng-159660-nega.png"), radial-gradient(at top left, rgba(206,117,2,1),rgba(25,16,59,0.5)); */
/*Wavy preset from https://www.magicpattern.design/tools/css-backgrounds*/
  background-size: 100%;
background-color: #757575;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #19103b 10px ), repeating-linear-gradient( #ce750255, #19103b );
}
.splash, .splash h1
{ 
	background: linear-gradient(to right, #757575, #ce7502); 
	color: rgba(25, 16, 59, 1);
}
.storyBorder, .txtCtrPanel {background-color: rgba(25, 16, 59, 1); color: white;}/*mobile rendering*/
.chatWindow {font-size: 1.2em;}
.inline span
{
	color: white;
	font-family: serif;
}
.dropChar 
{
	font-family: 'Xolonium', serif;
    font-size: 1em;
	width: 1.3em; 
	height: 1.3em;
	color: white;
	background-color: #ce7502;
	}
ul, ol
{
	background-color: #ce7502;
	color: black;
}
.txtPanel {border: 0.15em solid #ce7502;}
.menu .menu-item.has-children {font-family: serif; }
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut
{
	background-color: #ce7502;
	color: rgba(25, 16, 59, 1);
}
.blurbIn
{
	background-color: rgba(25, 16, 59, 1);
	color: #ce7502;
}
.topic {color: rgba(25, 16, 59, 1);}
.current {color: white; }
#mobile
{
	display: block;
	background-color: rgba(25, 16, 59, 1);
}
#mobile span {	border: 1px solid white;}
#desktop {	display: none;}
td
{
	color: white;
	padding: 2px;
}
.returnTag {	font-family: serif, 'Segoe UI Emoji';}
a:visited /*What most links will look like*/ {color: #ce7502;}
/*Submenu data for Mobile*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a { color: black;}
.nav .sub-menu {
  background-color: #757575;
  list-style: none;
}
.paragraph, p /*Paragraph formatting*/{font-family: serif;}
}
@media print
{
	.storyBorder
	{	width: 98%;}
	.no-print, .no-print *
	{	display: none !important;	}
	.dropChar
	{
		border: 1px solid black;
		color: black;
	}
}
