/*Font-Space Start*/
/*Normal -Font*/
/*Orbitron is an OpenType Font*/
/*##########################################
Colors Used For This CSS File
https://botsin.space/@accessibleColors/103833621005988313
#ce7502 (206 117 2) or Meteor
#19103b (25 16 59) or Haiti
#757575 (117 117 117) or Dark_Gray
###########################################*/
*{user-select: none; font-family: Orbitron, sans-serif;}
@font-face
{
font-family: 'Orbitron';
src: url('fonts/Orbitron-Regular.ttf');
text-rendering: optimizeLegibility;
}
@font-face
{
	font-family: 'Twitter Color Emoji';
	src: url('fonts/ColorEmoji10.ttf');
	text-rendering: optimizeLegibility;
}
/*Font-Space End*/
html, rss
{ 
/*Image by Robert Horvik*/
  background: url(myFilePhotos/robert-horvick-1R4uPYipCFM-unsplash.jpg) repeat-x; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.titleLine
{
	background-color: black;
	color: white;
	font-size: 2.4vw;
	text-align: center;
	font-weight: bold;
}
.splash, .splash h1, banner
{
	font-family: 'Orbitron', sans-serif;
	background: linear-gradient(to right, #19103b, #757575);
	background-size: 100%;
	padding-bottom: 10px;
	text-shadow: 1px 1px #757575;
	color: #ce7502;
	font-size: 2.4vw;
	text-align: center;
	font-weight: bold;
}
.storyBorder
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #ce7502;
	color: black;
}
.chatWindow
{
	float: left;
	width: 50%;
	border: 2px solid white;
	background-color: #757575;
	font-size: 2.5vw;
}
item
{
	float: left;
	width: 70%;
	border: 2px solid white;
	background-color: #757575;
	font-size: 2.5vw;
}
generator, guid , description{display: none;}
.emphasis, link
{
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	text-align: center;
	background-color:  #19103b;
	color: white;
	border: 0.2vw solid white;
	text-shadow: 1px 1px #757575;
}
.banner
{
	font-size: 2vw;
	width: 100%;
}
.txtPanel
{
	font-size: 2vw;
	font-weight: bold;
	text-align: left;
	background-color: #757575;
	color: white;
	opacity: 0.92;
	border: 0.2vw solid black;
}
.txtPanel a
{	text-shadow: 1px 1px #b0b0b0; }
.txtCtrPanel
{
	background-color: black;
	opacity: 0.9;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	text-align: center;
	border: 3px solid #19103b;
	color: white;
}
.inline span
{
	color: black;
	font-family: 'sans-serif';
}
#rightside
{ 	
float: right;
width: 45%;
}
#leftside
{
	float: left;
	width: 40%;
}
#mobile{display: none;}
#desktop
{
	display: block;
	background-color: #ce7502;
}
#desktop span
{	border: 1px solid black;}
.wholeWide
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.menu .menu-item.has-children, .menu .menu-item.has-children .menu-item 
{
	font-family: sans-serif;
	position: relative;
}
.icon-bar a
{
	display: inline;
	text-align: center;
	font-size: 2.0vw;
	border: 1.5px solid black;
}
.txtFrame
{
	border: 2px solid #19103b;
	font-size: 2vw;
	background-color: black;
	color: white;
	margin: 5px;
	white-space: nowrap;
}
.txtFrame span { display: table; font-size: 1.2em;}
.txtFrame a:visited {color: #ce7502;}
.dropChar 
{
	font-family: 'Orbitron', sans-serif;
	display: inline-block; 
	width: 3.2vw; 
	height: 3.2vw;
	margin: 0 10px 0 10px; 
	color: white;
	background-color: #19103b;
	border: 2px solid white;
	text-align: center;
	text-shadow: 1px 1px #757575;
	}
iframe,img.center
{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ul, ol
{
	background-color: #19103b;
	color: white;
}
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut, pubDate
{
	border-radius: 20px 30px 30px 0px;
	background-color: #19103b;
	color: #ce7502;
	border: 3px solid white;
	float: left;
	text-shadow: 1px 1px #757575;
}
.blurbIn, title
{
border-radius: 20px 30px 0px 16px;
	background-color: #ce7502;
	color: #19103b;
	border: 3px solid white;
	float: right;
}
.topic
{
	background-color: black;
	color: #ce7502;
	font-size: 1.3em;
	display: table;
}
.center
{
	display: block;
	text-align: center;
}
.current
{
	color: #ce7502;
	font-style: italic;
}
#picWidget img
{
	 box-sizing: border-box;
	 opacity: 0.9;
	 width: 100%;
}
.picWidget img
{
	 box-sizing: border-box;
	 opacity: 0.9;
	 width: 100%;
}
.row {  display: flex;}
/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
#dtpWidget img
{
	 width: 60%;
    height: 100%;
    display: block;
	float: right;
}
td
{
	word-wrap: normal;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	color: black;
	padding: 5px;
	font-size: 1.1em;
}
.leftHeading{	display: none;}
.returnTag, title {	font-family: Orbitron, Twitter Color Emoji;}
/*Submenu data for Desktop*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a {  color: white; }
.nav .sub-menu {
  background-color: #757575;
  list-style: none;
}
.nav .sub-menu .menu-item a:hover, .nav .sub-menu .menu-item a:active, .nav .sub-menu .menu-item a:focus {
  background-color:  black;
  color: white;
}
a /*What most links will look like*/
{
	text-decoration: none;
	color: white;
	border: 1 px solid #19103b;
}
a:visited /*What most links will look like*/ {color: #ce7502;}
.paragraph, p  /*Paragraph formatting*/
{
	font-family: sans-serif;
	font-size: 2vw;
}
/*This section of the CSS file caters to mobile and QHD displays (768p or lower)*/
@media screen and (max-width:1024px)  
{
	*{font-family: Orbitron, serif;}
	.titleLine {font-family: 'Orbitron', serif; font-size: 1em;}
.splash, .splash h1
{ 
	background: linear-gradient(to right, #757575, #ce7502); 
	font-family: 'Orbitron', serif;
	color: #19103b;
	font-size: 1.2em;
	color: #19103b;
}
.storyBorder {background-color: #19103b; color: white;}
.chatWindow {font-size: 1.4em;}
.emphasis
{
	font-family: 'Orbitron', serif;
	background-color:  #ce7502;
}
.banner {font-size: 2.8vw;}
.txtPanel
{
	border: 0.5vw solid white;
	font-size: 1.1em;
}
.txtCtrPanel
{
	font-size: 1.4em;
	border: 3px solid #ce7502;
}
.dropChar {width: 1.5em; height: 1.5em;}
	
.inline span
{
	color: white;
	font-family: 'serif';
}
.txtFrame {font-size: 1em; border: 2px solid #19103b;}
.icon-bar a {font-size: 1.3em;}
.dropChar 
{
	font-family: 'Orbitron', serif;
	color: white;
	background-color: #ce7502;
	border: 2px solid white;
	}
ul, ol
{
	background-color: #ce7502;
	color: black;
}
.menu .menu-item.has-children
{
	font-size: 1.2em;
	font-family: serif;
}
/* https://www.w3schools.com/css/css3_borders.asp */
.blurbOut
{
	background-color: #ce7502;
	color: #19103b;
}
.blurbIn
{
	background-color: #19103b;
	color: #ce7502;
}
.topic {color: #19103b;}
.current {color: white; }
#mobile
{
	display: block;
	background-color: #19103b;
}
#mobile span {	border: 1px solid white;}
#desktop {	display: none;}
td
{
	color: white;
	padding: 2px;
}
.returnTag {	font-family: Twitter Color Emoji;}
/*Submenu data for Mobile*/
.nav .menu > .menu-item, .nav .menu > .menu-item > a { color: black;}
.nav .sub-menu {
  background-color: #757575;
  list-style: none;
}
a /*What most links will look like*/{	border: 1 px solid #ce7502;}
a:visited /*What most links will look like*/ {color: #19103b;}
.paragraph, p /*Paragraph formatting*/{font-family: serif; font-size: 1em; }
}
@media print
{
	.storyBorder
	{	width: 98%;}
	.no-print, .no-print *
	{	display: none !important;	}
	.dropChar
	{
		border: 1px solid black;
		color: black;
	}
}
/* Sidebar Position Data For Both Desktop and Mobile */
.icon-bar
{
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 3;
}
.icon-bar a:hover 
{
  background-color: black;
  color: #ce7502;
}
.icon-bar a {background-color: #757575;}
#active
{
	background-color: black;
	color: white;
}