@font-face
{
font-family: 'Karma Future';
src: url('https://365stops.org/fonts/KarmaFuture.ttf');
text-rendering: optimizeLegibility;
}
html 
{ 
  background: url('https://365stops.org/myFilePhotos/oncoming-f-baypkwy.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  }
h1 {	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;}
a {
	text-decoration: none;
	color: white;
	text-shadow: 1px 0.5	px #b0b0b0;
	}
.warningHeader, .warningHeader h1,span
{
	font-family: 'Karma Future', serif;
	font-size: 8vw;
	background-color: black;
	text-align: center;
}
.colorG{
	color: green;
	text-align: center;}
.colorR{
	color: red;
	text-align: center;}
.colorY{
	color: yellow;
	text-align: center; }
.returnHeader{
	font-family: 'Karma Future', serif;
	color: yellow;
	font-size: 5vw;
	background-color: #b0b0b0;
	text-align: center;}